@font-face {
  font-family: Croparo;
  src: url("/font/Raleway-Bold.ttf");
}
@font-face {
  font-family: Orion Sans;
  src: url("/font/Raleway-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --heading-font: Croparo;
  --text-font: Orion Sans;
}
#main {
  position: relative;
  background-color: #000;
}
body {
  width: 100%;
  height: 100%;
  background-color: #000;
}

#contact-main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}
.balls,
.balls1,
.balls2 {
  max-width: 100%;
}

.balls {
  position: absolute;
  top: 85%;
  left: 10%;
  width: 152px;
  height: 152px;
  background-color: #663fbd;
  border-radius: 50%;
  filter: blur(100px);
}

.balls1 {
  position: absolute;
  top: 0%;
  left: 20%;
  width: 152px;
  height: 152px;
  background-color: #663fbd;
  border-radius: 50%;
  filter: blur(100px);
}

.balls2 {
  position: absolute;
  top: 0%;
  left: 85%;
  width: 152px;
  height: 152px;
  background-color: #663fbd;
  border-radius: 50%;
  filter: blur(100px);
}

.formsub {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  background-color: #11111180;
  border-radius: 50px;
  backdrop-filter: blur(260px);
  padding: 40px 60px;
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.form-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.formlogo {
  width: 230px;
}

.formlogo img {
  width: 100%;
}

.cont-des {
  margin-top: 20px;
  color: white;
}

.cont-des h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: var(--heading-font);
}

.cont-des p {
  font-size: 18px;
  text-align: justify;
  font-family: var(--text-font);
}

.contact-detailes {
  margin: 30px 0px;
}

.icon-text {
  display: flex;
}

.icon-text i {
  font-size: 18px;
  color: #7dfa03;
}

.icon-text a {
  font-size: 18px;
  font-family: var(--text-font);
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: all ease 0.3s;
}

.icon-text a:hover {
  text-decoration: none;
  color: lawngreen;
}
.social h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  font-family: var(--heading-font);
}

.social-box a {
  margin-right: 20px;
  text-decoration: none;
}
.social-box a:hover {
  margin-right: 20px;
  text-decoration: none;
}

.social-box i {
  font-size: 25px;
  padding: 10px;
  background-color: #5e5dcb;
  border-radius: 50%;
  color: white;
  border: 1px solid #5e5dcb;
  transition: all ease 0.5s;
}
.social-box i:hover {
  background-color: transparent;
  color: lawngreen;
  border: 1px solid lawngreen;
}

.contact-form {
  width: 60%;
  background-color: #5f5dcb7a;
  backdrop-filter: blur(50%);
  border-radius: 30px;
  overflow: hidden;
  padding: 30px 50px;
  height: 100%;
}

.contact-form h2 {
  font-size: 34px;
  color: white;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: var(--heading-font);
}

.contact-form h2 span {
  font-size: 38px;
  font-weight: 600;
}

.contact-form form {
  width: 100%;
}

.input-area {
  margin-bottom: 20px;
}

.input-area input,
.input-area select,
.input-area textarea {
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #ffffff33;
  font-size: 15px;
  color: white;
  font-weight: 100;
  font-weight: lighter;
  font-family: var(--text-font);
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom-select select option {
  background-color: black;
  color: white;
}

.custom-select::after {
  content: "\25BC";
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 10px;
  color: #7dfa03;
}

::placeholder {
  font-size: 15px;
  color: white;
  font-weight: lighter;
  font-family: var(--text-font);
}

.submit-btn {
  text-align: center;
}

.submit-btn input {
  width: 100%;
  padding: 10px;
  background-color: lawngreen;
  border: 1px solid lawngreen;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: all ease 0.5s;
}
.submit-btn input:hover {
  background-color: #000;
  color: lawngreen;
  border: 1px solid lawngreen;
}

/* ----------footer css-----------  */
.footer {
  position: relative;
  background-color: #000;
  font-family: var(--text-font);
}
.calltoaction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0px;
}
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 63%;
  padding: 40px;
  border-radius: 10px;
  background-color: #26252524;
  border: 0.3px solid #262525;
  flex-wrap: wrap;
}
.cta h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}
.cta button {
  padding: 20px 60px;
  border: 0.5px solid lawngreen;
  border-radius: 10px;
  background-color: #7cfc00;
  cursor: pointer;
  transition: all ease 0.5s;
}
.cta button:hover {
  background-color: #262525;
}
.cta button:hover a {
  color: lawngreen;
  text-decoration: none;
}
.cta button a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.mainfooter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 20px 20px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.footer-cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  /* background-color: #262525; */
  /* border: 0.3px solid #262525; */
  border-radius: 10px;
  gap: 20px;
}
.company-info p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.address a {
  font-family: var(--text-font);
  font-size: 14px;
}
.foot-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s ease;
}
.foot-contact i {
  color: #7cfc00;
  font-size: 20px;
  line-height: 21px;
  font-weight: 500;
}
.foot-contact a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
}
.address a {
  font-family: var(--text-font);
  font-size: 14px;
}
.foot-contact a:hover {
  color: #7cfc00;
  text-decoration: none;
}
.footer-cards h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}
.foot-border h2 {
  border-bottom: 2px solid #7cfc00;
}
.footer-cards ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-cards ul li a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.footer-cards ul li a:hover {
  color: #7cfc00;
}
.footer-cards form {
  display: flex;
  width: 100%;
  gap: 5px;
}
.footer-cards form .email {
  flex: 1 1 60%;
  padding: 20px;
  border: none;
  border-radius: 16px;
  background-color: transparent;
  border: 0.5px solid #7cfc00;
  outline: none;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.button-foot {
  flex: 1 1 35%;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  color: black;
  background: #7cfc00;
  border: 0.5px solid lawngreen;
  transition: all ease 0.5s;
}
.button-foot:hover {
  background: #262525;
  color: lawngreen;
  cursor: pointer;
}
.social-icons-foot {
  display: flex;
  gap: 20px;
}
.social-icons-foot a {
  text-decoration: none;
  background-color: #000;

  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid lawngreen;
  transition: all ease 0.5s;
}
.social-icons-foot a:hover {
  background-color: lawngreen;
  text-decoration: none;
}
.social-icons-foot a:hover i {
  color: #000;
}
.social-icons-foot i {
  color: lawngreen;
  font-size: 20px;
  font-weight: 500;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color: #262525; */
}
.copyright p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.copyright a {
  color: #7cfc00;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  .balls,
  .balls1,
  .balls2 {
    display: none;
  }
  .footer-cards form {
    flex-wrap: wrap;
    gap: 10px;
  }
  .button-foot {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .cta {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
  }
  .cta h2 {
    font-size: 2rem;
    text-align: center;
  }
  .cta button {
    width: 100%;
    text-align: center;
  }
  .footer-cards h2 {
    font-size: 24px;
  }
  .footer-cards ul li a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .cta h2 {
    font-size: 1.8rem;
  }
  .footer-cards h2 {
    font-size: 20px;
  }
  .footer-cards ul li a {
    font-size: 14px;
  }
  .social-icons-foot i {
    font-size: 30px;
  }
  .cta button {
    padding: 15px;
  }
}

@media screen and (max-width: 576px) {
  .calltoaction {
    margin: 0 auto;
    width: 90%;
  }
  #contact-main {
    padding: 40px 10px;
  }

  .contact-form {
    padding: 20px;
  }

  .formsub {
    margin-top: 0px;
  }
  .cta {
    width: 100%;
    padding: 20px;
  }
  .cta h2 {
    font-size: 1.5rem;
  }
  .footer-cards {
    padding: 10px;
  }
  .footer-cards h2 {
    font-size: 18px;
  }
  .footer-cards ul li a {
    font-size: 12px;
  }
  .social-icons-foot i {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  .cont-des p {
    font-size: 16px;
  }
  .formlogo {
    width: 150px;
  }
  .icon-text a h3,
  .icon-text i {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .formsub {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .contact-form {
    width: 100%;
  }
  .form-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cont-des h1 {
    font-size: 28px;
  }
  .cont-des p {
    font-size: 14px;
  }
  .contact-form h2 {
    font-size: 28px;
  }
  .contact-form h2 span {
    font-size: 32px;
  }
  .input-area input,
  .input-area select,
  .input-area textarea {
    font-size: 14px;
  }
  .submit-btn input {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .balls2 {
    left: 0%;
  }
  .formlogo {
    width: 120px;
  }
  .cont-des h1 {
    font-size: 24px;
  }
  .cont-des p {
    font-size: 12px;
  }
  .icon-text i {
    font-size: 12px;
  }
  .icon-text a h3 {
    font-size: 12px;
  }
  .social h3 {
    font-size: 24px;
  }
  .social-box i {
    font-size: 20px;
    padding: 8px;
  }
  .contact-form h2 {
    font-size: 24px;
  }
  .contact-form h2 span {
    font-size: 28px;
  }
  .submit-btn input {
    font-size: 16px;
  }
}
