@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: Croparo;
  src: url("../font/Raleway-Bold.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("../font/Raleway-Regular.ttf");
}
:root {
  --heading-font: Croparo;
  --text-font: Raleway;
}

.mainnav {
  position: relative;
}

.hamburger {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
#icon {
  width: 150px;
}
.logo-head{
  width: 100%;
  height: 100%;
}
#ham {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  z-index: 999;
}

#ham .icon {
  width: 100%;
  height: 100%;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

#ham.open .icon {
  transform: rotate(180deg) scale(1.2);
  opacity: 0.8;
}
#nav {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  position: absolute;
  top: 0%;
  padding: 20px 10vw;
  display: flex;
  transition: transform ease 1s;
  transform: translateX(-100%);
  z-index: 100;
}
.listmain {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.listmain li{
  list-style: none;
}

.listmain li a {
  color: #ffff;
  font-size: 80px;
  font-family: var(--heading-font);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: all ease 0.5s;
  
}

.listmain li a::after {
  content: "";
  position: absolute;
  margin-bottom: -10px;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to left, #6b34e2, #fff, #7cfc00);
  transition: width 0.5s ease;
}

.listmain li a:hover::after {
  width: 100%;
}

.listmain li a:hover {
  background-image: linear-gradient(to left, #6b34e2, #fff, #7cfc00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.leftinfo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.navlogoin {
  width: 250px;
}
.navlogoin img {
  width: 100%;
  height: 100%;
}
.navcontact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navmin {
  margin: 20px 0px;
  display: flex;
}
.navmin a,
.navmin i {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.navmin i {
  color: #7cfc00;
  margin-right: 10px;
}
.navmin a:hover {
  color: #7cfc00;
}
.navsocial {
  display: flex;
  gap: 20px;
}
.navsocial a {
  font-size: 30px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.navsocial a:hover {
  color: #7cfc00;
}
.navsocialpar h4 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.submenu {
  display: flex;
  align-items: center;
}
.submenuopen {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
}

.subtoggle {
  max-height: 500px; /* A large enough value to accommodate all submenu items */
  opacity: 1;
  overflow: visible;
}

.submenu i {
  font-size: 80px;
  color: #fff;
  transition: transform 0.5s ease; /* Smooth rotation */
}
.submenu i:hover{
  cursor: pointer;
  color: lawngreen;
}

.icon-rotated {
  transform: rotate(90deg); /* Rotate 90 degrees */
}

.submenuopen li a {
  font-size: 20px;
  font-family: var(--text-font);
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.submenuopen li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-image: none;
  transition: width 0.5s ease;
}
.submenuopen li a:hover {
  background-image: #7cfc00;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .listmain li a {
    font-size: 50px;
  }
  .submenu i {
    font-size: 50px;
  }
  .submenuopen li a {
    font-size: 25px;
    font-weight: 400;
  }
  .navlogoin {
    width: 200px;
  }
  .hamburger{
    padding: 0px 40px;
  }
}
@media (max-width: 768px) {
  .leftinfo {
    display: none;
  }
  .listmain {
    width: 100%;
  }
  .hamburger{
    padding: 0px 30px;
  }
  #ham{
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
    .hamburger{
    padding: 0px 20px;
  }
  .listmain li a {
    font-size: 30px;
  }
  .submenu i {
    font-size: 30px;
  }
  .submenuopen li a {
    font-size: 20px;
  }
}
