@font-face {
  font-family: Croparo;
  src: url("../font/Raleway-Bold.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("../font/Raleway-Regular.ttf");
}
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------- selection ------  */
::selection {
  background-color: lawngreen;
  color: #6b34e2;
  -webkit-text-fill-color: #6b34e2;
}

#main {
  position: relative;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
:root {
  --heading-font: Croparo;
  --text-font: Raleway;
}

#hero {
  position: relative;
  height: 100vh;
  width: 100vw;

}
#hero1 {
  position: relative;
  height: 100vh;
  width: 100vw;

}
#hero2 {
  position: relative;
  height: 100vh;
  width: 100vw;

}
#hero3 {
  position: relative;
  height: 100vh;
  width: 100vw;

}
canvas {
  opacity: 0.5;
  position: relative;
  z-index: -1;
  max-width: 100vw;
  max-height: 100vh;
}
#loop {
  display: flex;
  position: absolute;
  top: 30%;
  height: 25%;
  width: 100%;
  font-size: 100px;
  white-space: nowrap;
}
#loop > h1 {
  font-family: var(--heading-font);
  font-size: 6rem;
  font-weight: 400;
  animation-name: anim;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: lawngreen;
  /* background-color: black; */
  z-index: 9;

}

#loop > h1 > span {
  color: transparent;
  -webkit-text-stroke: 1px  lawngreen;
  font-weight: 500;
}

@keyframes anim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#hero1{
  z-index: 999;
  background-color: transparent;
}
#hero2{
  z-index: 999;
  background-color: transparent;
}
#hero3{
  z-index: 999;
  background-color: transparent;
}
#hero1 > #right-text{
  
  padding: 20px;
  border-radius: 10px;
  
  
}
#hero > h3 {
  position: absolute;
  top: 55%;
  font-family: var(--text-font);
  font-weight: 400;
  color: white;
  left: 5%;
  
}
#hero > h4 {
  position: absolute;
  top: 62%;
  left: 25%;
  font-family: var(--text-font);
  font-weight: 500;
  color: white;
}
#hero1 > #right-text {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  
  
}
#hero1 > #right-text > h3 {
  font-weight: 400;
  
  font-family: var(--heading-font);
  margin-bottom: 6px;
}
#hero1 > #right-text > h1 {
  background-image: linear-gradient(to left, #6b34e2, #fff, #7cfc00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-family: var(--text-font);
}
#hero1 > #left-text {
  position: absolute;
  top: 75%;
  right: 10%;
  text-align: end;
}
#hero1 > #left-text > h1 {
  font-size: 40px;
  font-family: var(--text-font);
  background-image: linear-gradient(to left, #6b34e2, #fff, #7cfc00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* line-height: 1.5; */
  color: white;
}
#hero1 > #left-text > h3 {
  font-weight: 400;
  color: white;
  font-family: var(--heading-font);
}
#hero2 > #text1 {
  position: absolute;
  top: 25%;
  left: 10%;
}
#hero2 > #text1 > h3 {
  font-weight: 400;
  color: white;
  font-family: var(--heading-font);
}
#hero2 > #text1 > h1 {
  font-size: 40px;
  background-image: linear-gradient(to left, #6b34e2, #6b34e2, #fff, #7cfc00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--text-font);
}
#hero2 > #text2 {
  position: absolute;
  top: 75%;
  right: 10%;
  text-align: end;
}
#hero2 > #text2 > p {
  color: white;
  font-weight: 600;
  line-height: 1.7rem;
  font-family: var(--text-font);
  
}
#hero3 > #text3 {
  position: absolute;
  top: 70%;
  right: 25%;
  text-align: end;
}
#hero3 > #text3 > h3 {
  font-weight: 400;
  color: white;
  font-family: var(--heading-font);
  text-align: center;
}
#hero3 > #text3 > h1 {
  font-size: 40px;
  background-image: linear-gradient(to left, #6b34e2, #fff, #7cfc00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--text-font);
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
}
#left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#left .heading {
  font-family: var(--heading-font);
  margin-bottom: 2vw;
  font-size: 2rem;
  background-image: linear-gradient(to left, #6b34e2, #fff, #7cfc00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#left .sub-heading {
  font-family: var(--text-font);
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.7rem;
  text-align: justify;
}
#left .button {
  margin-top: 2vw;
}
.button button {
  font-family: var(--text-font);
  font-size: 1rem;
  padding: 15px;
  background-color: lawngreen;
  border-radius: 50px;
  border: none;
  color: #000;
  border: 2px solid lawngreen;
  transition: all ease 0.5s;
}
.button button a{
  text-decoration: none;
  color: black;
}
.button button a:hover{
  text-decoration: none;
  color: lawngreen;
}
.button button:hover a{
  text-decoration: none;
  color: lawngreen; 
}

.button button:hover{
  background-color: transparent;
  color: lawngreen;
  border: 2px solid lawngreen;
  cursor: pointer;
}
#right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#right img {
  height: 500px;
}

#page3 {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 5vw;
  width: 100%;
  height: auto;
}
#page3-section1 .page3-heading {
  /* padding-left: 2vw; */
  font-family: var(--heading-font);
  font-size: 2rem;
  background-image: linear-gradient(
    to right,
    lawngreen,
    #fff,
    #6b34e2,
    #6b34e2,
    #6b34e2
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2vw;
}
#page3-section2 {
  display: flex;
  gap: 4vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#page3-section2 .presence {
  width: 30%;
  height: 250px;
  padding-bottom: 4rem;
  border: 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, lawngreen, white, white);
  border-image-slice: 1;
}
#page3-section2 .presence h1 {
  font-family: var(--heading-font);
  color: white;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.presence i {
  padding: 5px;
  color: lawngreen;
  font-family: var(--text-font);
  font-weight: 100;
}
#page3-section2 p {
  font-family: var(--text-font);
  color: white;
  font-size: 1.2rem;
  line-height: 1.5vw;
}

#page4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  padding: 5vw;
  width: 100%;
  height: 100vh;
  margin-top: 2vw;
}
#page4 #left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#page4 #left #page4-heading h1 {
  font-family: var(--heading-font);
  font-size: 3rem;
  background-image: linear-gradient(to left, #6b34e2, #fff, #7cfc00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4rem;
}
#page4 #left #page4-subheading {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: var(--text-font);
  color: white;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: justify;
}
#page5 {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 5vw;
  width: 100%;
  /* height: 100vh; */
}
#page5-section1 .page5-heading {
  padding-left: 5vw;
  font-family: var(--heading-font);
  font-size: 2rem;
  background-image: linear-gradient(
    to right,
    lawngreen,
    #fff,
    #6b34e2,
    #6b34e2
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2vw;
}
#page5-section2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  padding: 0 5vw;
}

#page5-section2 .topic {
  width: 40%;
  border: 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, lawngreen, white, white);
  border-image-slice: 1;
  margin-bottom: 2rem;
}
.topic h1 {
  font-family: var(--heading-font);
  color: white;
  padding-bottom: 2rem;
}
.topic p {
  font-family: var(--text-font);
  color: white;
  font-size: 1.2rem;
  line-height: 1.5vw;
  padding-bottom: 0.5vw;
}
#page6 {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 5vw;
  width: 100%;
}
#page6-section1 .page6-heading {
  padding-left: 5vw;
  font-family: var(--heading-font);
  font-size: 2rem;
  background-image: linear-gradient(to right, lawngreen, #fff, #fff, #6b34e2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2vw;
}
#page6-section2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  padding: 0 5vw;
}
#page6-section2 .technology {
  width: 25%;
  padding-bottom: 4rem;
  border: 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, lawngreen, white, white);
  border-image-slice: 1;
  margin-bottom: 2vw;
}
.technology h1 {
  font-family: var(--heading-font);
  color: white;
  padding-top: 1rem;
}
.technology p {
  font-family: var(--text-font);
  color: white;
  font-size: 1.2rem;
  line-height: 1.5vw;
}
.technology img {
  height: 50px;
}

#page-otherservices {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 5vw;
  width: 100%;
  height: 100vh;
}
#page-otherservices .otherservices-heading {
  padding-left: 5vw;
  font-family: var(--heading-font);
  font-size: 2rem;
  background-image: linear-gradient(
    to right,
    lawngreen,
    #fff,
    #6b34e2,
    #6b34e2,
    #6b34e2
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2vw;
}
#otherservices-section2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  padding: 0 5vw;
}
#otherservices-section2 .service {
  width: 40%;
  padding-bottom: 4rem;
  border: 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, lawngreen, white, white);
  border-image-slice: 1;
  padding: 1rem;
}

.service .service-heading h1 {
  font-family: var(--heading-font);
  color: white;
  padding-bottom: 2rem;
}
.service .service-heading {
  display: flex;
  justify-content: space-between;
}
.service-heading i {
  color: lawngreen;
  font-size: 2rem;
  transition: all ease 0.5s;
}
.service-heading a {
  text-decoration: none;
  color: lawngreen;
  font-size: 2rem;
  transition: all ease 0.5s;
}
.service-heading a i:hover{
  background-color: lawngreen;
  color: #000;
  border-radius: 50%;
}
.service p {
  font-family: var(--text-font);
  color: white;
  font-size: 1.2rem;
  line-height: 1.5vw;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.star {
  animation: 5s rotate infinite;
  animation-timing-function: linear;
}

.star {
  height: 25px;
}
.star:after {
  content: "";
  height: 25px;
  transform: rotate(45deg);
}

#page7 {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 5vw;
  width: 100%;
}
#page7-section1 #page7-heading {
  font-family: var(--heading-font);
  padding-left: 5vw;
  font-size: 2rem;
  background-image: linear-gradient(to right, lawngreen, #fff, #6b34e2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2vw;
  text-align: center;
}
#page7-section2 {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#faq {
  padding: 1rem 2rem;
  background: rgba(2, 2, 2, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}
#faq h2 {
  font-family: var(--text-font);
  color: white;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 300;
}

.paragraphfaq {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.faqtoggle {
  max-height: 200px;
  opacity: 1;
}

.paragraphfaq p {
  font-family: var(--text-font);
  color: white;
  font-size: 1rem;
  line-height: 1.2rem;
  transition: color 0.5s ease, font-size 0.5s ease;
}

.headingfaq {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconfaq {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s ease;
}
#page8 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 5vw;
  width: 100%;
  height: 100vh;
}
#page8-heading {
  font-family: var(--heading-font);
  font-size: 2rem;
  background-image: linear-gradient(to right, lawngreen, #fff, #6b34e2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#page8-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}
#contact-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#contact-part2 {
  display: flex;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
}
input {
  background-color: #000;
  border: 0.5px solid #dadada;
  padding: 20px;
  border-radius: 50px;
  width: 20vw;
  font-family: var(--text-font);
  color: white;
  font-size: 1rem;
}
::placeholder {
  font-family: var(--text-font);
  color: white;
  font-size: 1rem;
}
#contact-part3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
textarea {
  background-color: #000;
  border: 0.5px solid #dadada;
  padding: 20px;
  border-radius: 20px;
  width: 42vw;
  height: 25vh;
  color: white;
  font-family: var(--text-font);
  font-size: 1rem;
}
#contact-button button {
  padding: 0.5vw 1vw;
  border: none;
  background-color: lawngreen;
  color: #000;
  font-family: var(--text-font);
  font-size: 1.2rem;
  border: 3px solid #000;
  border-radius: 50px;
  box-shadow: 5px 5px #000, 7px 7px lawngreen;
  transition: all ease 0.3s;
}
#contact-button button:hover {
  box-shadow: none;
  cursor: pointer;
  transform: translateY(7px);
}
/* ----------footer css-----------  */
.footer {
  position: relative;
  background-color: #000;
  font-family: var(--text-font);
}
.calltoaction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0px;
}
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 63%;
  padding: 40px;
  border-radius: 10px;
  background-color: #26252524;
  border: 0.3px solid #262525;
  flex-wrap: wrap;
}
.cta h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}
.cta button {
  padding: 20px 60px;
  border: 0.5px solid lawngreen;
  border-radius: 10px;
  background-color: #7cfc00;
  cursor: pointer;
  transition: all ease 0.5s;
}
.cta button:hover{
  background-color: #262525;
  
}
.cta button:hover a{
  color:lawngreen;
}
.cta button a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.mainfooter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 20px 20px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.footer-cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  /* background-color: #262525; */
  /* border: 0.3px solid #262525; */
  border-radius: 10px;
  gap: 20px;
}
.company-info p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.foot-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s ease;
}
.foot-contact i {
  color: #7cfc00;
  font-size: 20px;
  line-height: 21px;
  font-weight: 500;
}
.foot-contact a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
}
.address a{
  font-family: var(--text-font);
  font-size: 14px;
}
.foot-contact a:hover {
  color: #7cfc00;
}
.footer-cards h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}
.foot-border h2 {
  border-bottom: 2px solid #7cfc00;
}
.footer-cards ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-cards ul li a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.footer-cards ul li a:hover {
  color: #7cfc00;
}
.footer-cards form {
  display: flex;
  width: 100%;
  gap: 5px;
}
.footer-cards form .email {
  flex: 1 1 60%;
  padding: 20px;
  border: none;
  border-radius: 16px;
  background-color: transparent;
  border: 0.5px solid #7cfc00;
  outline: none;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.button-foot {
  flex: 1 1 35%;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  color: black;
  background: #7cfc00;
  border: 0.5px solid lawngreen;
  transition: all ease 0.5s;
}
.button-foot:hover{
  background: #262525;
  color: lawngreen;
  cursor: pointer;
}
.social-icons-foot {
  display: flex;
  gap: 20px;
}
.social-icons-foot a {
  text-decoration: none;
  background-color: #000;

  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid lawngreen;
  transition: all ease 0.5s;
}
.social-icons-foot a:hover{
  background-color: lawngreen;
  text-decoration: none;
}
.social-icons-foot a:hover i{
  color: #000;
}
.social-icons-foot i {
  color: lawngreen;
  font-size: 30px;
  font-weight: 500;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color: #262525; */
}
.copyright p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.copyright a {
  color: #7cfc00;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .footer-cards form {
      flex-wrap: wrap;
      gap: 10px;
  }
  .button-foot {
      padding: 20px;
  }
}

@media (max-width: 992px) {
  .cta {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .cta h2 {
    font-size: 2rem;
    text-align: center;
  }
  .cta button {
    width: 100%;
    text-align: center;
  }
  .footer-cards h2 {
    font-size: 24px;
  }
  .footer-cards ul li a {
    font-size: 16px;
  }
  
}

@media (max-width: 768px) {
  .cta h2 {
    font-size: 1.8rem;
  }
  .footer-cards h2 {
    font-size: 20px;
  }
  .footer-cards ul li a {
    font-size: 14px;
  }
  .social-icons-foot i {
    font-size: 30px;
  }
  .cta button {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .cta {
    width: 100%;
    padding: 20px;
  }
  .cta h2 {
    font-size: 1.5rem;
  }
  .footer-cards {
    padding: 10px;
  }
  .footer-cards h2 {
    font-size: 18px;
  }
  .footer-cards ul li a {
    font-size: 12px;
  }
  .social-icons-foot i {
    font-size: 24px;
  }
}














