@font-face {
  font-family: Croparo;
  src: url("/font/Raleway-Bold.ttf");
}
@font-face {
  font-family: Orion Sans;
  src: url("/font/Raleway-Regular.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::selection {
  background-color: lawngreen;
  color: #101010;
  -webkit-text-fill-color: #101010;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
:root {
  --heading-font: Croparo;
  --text-font: Orion Sans;
}
#main {
  position: relative;
  overflow: hidden;
  background-color: #000;
}
#breadcrumb {
  position: relative;
  width: 100%;
  height: auto;
  padding: 80px;
  background-color: #000;
}
#breadcrumb-heading h3 {
  font-family: var(--heading-font);
  color: white;
  font-size: 40px;
}
#breadcrumbArea a {
  text-decoration: none;
  color: lawngreen;
  font-family: var(--text-font);
  font-size: 30px;
}
#breadcrumbArea span {
  color: white;
  font-family: var(--text-font);
  font-size: 30px;
}
#page-title h1 {
  font-family: var(--heading-font);
  background-image: linear-gradient(
    to left,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #fff,
    #7cfc00
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
}

#page1 {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  padding-top: 50px;
  justify-content: center;
  gap: 30px;
}
.workbox {
  width: 30%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-image {
  width: 100%;
  height: 100%;
}
.box-image img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
}
.box-title {
  display: flex;
  flex-direction: column;
  /* height: 300px; */
}
.box-title h1 {
  font-family: var(--heading-font);
  background-image: linear-gradient(
    to left,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #fff,
    #7cfc00
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box-title p {
  color: white;
  font-size: 20px;
  font-family: var(--text-font);
}
.box-title a {
  color: lawngreen;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
  padding: 3px;
  font-size: 25px;
  border-radius: 10px;
  border: 0.5px solid transparent;
  transition: all ease 0.5s;
}
.box-title a:hover {
  text-decoration: none;
  /* background-color: lawngreen; */
  color: white;
}

.page3-box-title a {
  color: lawngreen;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
  padding: 3px;
  font-size: 25px;
  border-radius: 10px;
  border: 0.5px solid transparent;
  transition: all ease 0.5s;
}
.page3-box-title a:hover {
  text-decoration: none;
  /* background-color: lawngreen; */
  color: white;
}
.page3-box-even a {
  color: lawngreen;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
  padding: 3px;
  font-size: 25px;
  border-radius: 10px;
  border: 0.5px solid transparent;
  transition: all ease 0.5s;
}
.page3-box-even a:hover {
  text-decoration: none;
  /* background-color: lawngreen; */
  color: white;
}
.box-emptyspace {
  height: 100px;
  background-color: transparent;
}
.box-even {
  width: 30%;
  height: 900px;
  display: flex;
  flex-direction: column-reverse;
}

#page2 {
  position: relative;
  background-color: #000;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 80px;
  justify-content: center;
  gap: 30px;
}
#page2-left {
  width: 60%;
  height: 80%;
}
#page2-left-image {
  width: 100%;
  height: 100%;
}
#page2-left-image img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
}
#page2-left-content {
  padding: 10px;
}
#page2-left-content h1 {
  font-family: var(--heading-font);
  background-image: linear-gradient(
    to left,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #fff,
    #7cfc00
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page2-left-content p {
  color: white;
  font-family: var(--text-font);
  font-size: 20px;
}
#page2-left-content a {
  color: lawngreen;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  width: 16%;
  font-size: 25px;
  padding: 3px;
  border-radius: 10px;
  border: 0.5px solid transparent;
  transition: all ease 0.5s;
}
#page2-left-content a:hover {
  text-decoration: none;
  background-color: lawngreen;
  color: #000;
}
#page2-right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#page2-right-image {
  width: 100%;
  height: 100%;
}
#page2-right-image img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
}
#page2-right-content {
  padding: 10px;
}
#page2-right-content h1 {
  font-family: var(--heading-font);
  background-image: linear-gradient(
    to left,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #fff,
    #7cfc00
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page2-right-content p {
  color: white;
  font-family: var(--text-font);
  font-size: 20px;
}
#page2-right-content a {
  color: lawngreen;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  width: 16%;
  padding: 3px;
  border-radius: 10px;
  border: 0.5px solid transparent;
  transition: all ease 0.5s;
  font-size: 25px;
}
#page2-right-content a:hover {
  text-decoration: none;
  background-color: lawngreen;
  color: #000;
}

#page1 a {
  width: 100%;
}
#page3 a {
  width: 100%;
}
#page3 a {
  width: 100%;
}
#page3 {
  position: relative;
  background-color: #000;
  width: 100%;
  height: auto;
  display: flex;
  /* align-items: center; */
  padding-top: 50px;
  justify-content: center;
  gap: 30px;
}
.page3-box {
  width: 30%;
  height: 900px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.page3-box-image {
  width: 100%;
  height: 100%;
}
.page3-box-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
}
.page3-box-title {
  display: flex;
  flex-direction: column;
  /* height: 300px; */
}
.page3-box-title h1 {
  font-family: var(--heading-font);
  background-image: linear-gradient(
    to left,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #fff,
    #7cfc00
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page3-box-title p {
  color: white;
  font-family: var(--text-font);
  font-size: 20px;
}
.page3-box-title a {
  color: lawngreen;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  width: 20%;
  padding: 3px;
  font-size: 25px;
  border-radius: 10px;
  border: 0.5px solid transparent;
  transition: all ease 0.5s;
}
.page3-box-title a:hover {
  text-decoration: none;
  /* background-color: lawngreen; */
  color: white;
}
.page3-box-emptyspace {
  height: 100px;
  background-color: transparent;
}
.page3-box-even {
  width: 30%;
  height: 900px;
  display: flex;
  flex-direction: column;
}

#page4 {
  position: relative;
  background-color: #000;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 80px;
  justify-content: center;
  gap: 30px;
}
#page4-left {
  width: 60%;
  height: 80%;
}
#page4-left-image {
  width: 100%;
  height: 100%;
}
#page4-left-image img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
}
#page4-left-content {
  padding: 10px;
}
#page4-left-content h1 {
  font-family: var(--heading-font);
  background-image: linear-gradient(
    to left,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #fff,
    #7cfc00
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page4-left-content p {
  color: white;
  font-size: 20px;
  font-family: var(--text-font);
}
#page4-left-content a {
  color: lawngreen;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  width: 20%;
  font-size: 25px;
  padding: 3px;
  border-radius: 10px;
  border: 0.5px solid transparent;
  transition: all ease 0.5s;
}
#page4-left-content a:hover {
  text-decoration: none;
  /* background-color: lawngreen; */
  color: #fff;
}
#page4-right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#page4-right-image {
  width: 100%;
  height: 100%;
}
#page4-right-image img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
}
#page4-right-content {
  padding: 10px;
}
#page4-right-content h1 {
  font-family: var(--heading-font);
  background-image: linear-gradient(
    to left,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #6b34e2,
    #fff,
    #7cfc00
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page4-right-content p {
  color: white;
  font-family: var(--text-font);
  font-size: 20px;
}
#page4-right-content a {
  color: lawngreen;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  width: 20%;
  font-size: 25px;
  padding: 3px;
  border-radius: 10px;
  border: 0.5px solid transparent;
  transition: all ease 0.5s;
}
#page4-right-content a:hover {
  text-decoration: none;
  /* background-color: lawngreen;  */
  color: #fff;
}

/* ----------footer css-----------  */
.footer {
  position: relative;
  background-color: #000;
  font-family: var(--text-font);
}
.calltoaction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0px;
}
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 63%;
  padding: 40px;
  border-radius: 10px;
  background-color: #26252524;
  border: 0.3px solid #262525;
  flex-wrap: wrap;
}
.cta h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}
.cta button {
  padding: 20px 60px;
  border: 0.5px solid lawngreen;
  border-radius: 10px;
  background-color: #7cfc00;
  cursor: pointer;
  transition: all ease 0.5s;
}
.cta button:hover {
  background-color: #262525;
}
.cta button:hover a {
  color: lawngreen;
  text-decoration: none;
}
.cta button a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.mainfooter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 20px 20px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.address a {
  font-family: var(--text-font);
  font-size: 14px;
}
.footer-cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  /* background-color: #262525; */
  /* border: 0.3px solid #262525; */
  border-radius: 10px;
  gap: 20px;
}
.company-info p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.foot-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s ease;
}
.foot-contact i {
  color: #7cfc00;
  font-size: 20px;
  line-height: 21px;
  font-weight: 500;
}
.foot-contact a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
}
.address a {
  font-family: var(--text-font);
  font-size: 14px;
}
.foot-contact a:hover {
  color: #7cfc00;
  text-decoration: none;
}
.footer-cards h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}
.foot-border h2 {
  border-bottom: 2px solid #7cfc00;
}
.footer-cards ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-cards ul li a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.footer-cards ul li a:hover {
  color: #7cfc00;
}
.footer-cards form {
  display: flex;
  width: 100%;
  gap: 5px;
}
.footer-cards form .email {
  flex: 1 1 60%;
  padding: 20px;
  border: none;
  border-radius: 16px;
  background-color: transparent;
  border: 0.5px solid #7cfc00;
  outline: none;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.button-foot {
  flex: 1 1 35%;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  color: black;
  background: #7cfc00;
  border: 0.5px solid lawngreen;
  transition: all ease 0.5s;
}
.button-foot:hover {
  background: #262525;
  color: lawngreen;
  cursor: pointer;
}
.social-icons-foot {
  display: flex;
  gap: 20px;
}
.social-icons-foot a {
  text-decoration: none;
  background-color: #000;

  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid lawngreen;
  transition: all ease 0.5s;
}
.social-icons-foot a:hover {
  background-color: lawngreen;
  text-decoration: none;
}
.social-icons-foot a:hover i {
  color: #000;
}
.social-icons-foot i {
  color: lawngreen;
  font-size: 20px;
  font-weight: 500;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color: #262525; */
}
.copyright p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.copyright a {
  color: #7cfc00;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .footer-cards form {
    flex-wrap: wrap;
    gap: 10px;
  }
  .button-foot {
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .cta {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .cta h2 {
    font-size: 2rem;
    text-align: center;
  }
  .cta button {
    width: 100%;
    text-align: center;
  }
  .footer-cards h2 {
    font-size: 24px;
  }
  .footer-cards ul li a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .cta h2 {
    font-size: 1.8rem;
  }
  .footer-cards h2 {
    font-size: 20px;
  }
  .footer-cards ul li a {
    font-size: 14px;
  }
  .social-icons-foot i {
    font-size: 30px;
  }
  .cta button {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .cta {
    width: 100%;
    padding: 20px;
  }
  .cta h2 {
    font-size: 1.5rem;
  }
  .footer-cards {
    padding: 10px;
  }
  .footer-cards h2 {
    font-size: 18px;
  }
  .footer-cards ul li a {
    font-size: 12px;
  }
  .social-icons-foot i {
    font-size: 24px;
  }
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  #breadcrumb {
    padding: 60px;
  }

  #breadcrumb-heading h3 {
    font-size: 35px;
  }

  #breadcrumbArea a {
    font-size: 26px;
  }

  #breadcrumbArea span {
    font-size: 26px;
  }

  #page-title h1 {
    font-size: 60px;
  }
  #page1 {
    height: auto;
  }
  #page1 a {
    font-size: 16px;
    width: 100%;
  }
  #page2 a {
    font-size: 16px;
  }
  #page3 a {
    font-size: 16px;
  }
  #page4 a {
    font-size: 16px;
  }
  .workbox {
    height: auto;
  }
  .box-title h1 {
    font-size: 30px;
  }
  .box-title p {
    font-size: 18px;
  }
  #page2 {
    height: auto;
  }
  #page2-left-content h1 {
    font-size: 30px;
  }
  #page2-left-content p {
    font-size: 18px;
  }
  #page2-right-content h1 {
    font-size: 30px;
  }
  #page2-right-content p {
    font-size: 18px;
  }
  #page3 {
    height: auto;
  }
  .page3-box {
    height: 500px;
  }
  .page3-box-even {
    height: 500px;
  }
  .page3-box-image img {
    height: 300px;
  }
  .page3-box-title h1 {
    font-size: 30px;
  }
  .page3-box-title p {
    font-size: 18px;
  }
  #page4 {
    height: auto;
  }
  #page4-left-content h1 {
    font-size: 30px;
  }
  #page4-left-content p {
    font-size: 18px;
  }
  #footer-top {
    margin: 50px 50px;
  }

  #footer-bottom {
    padding: 20px 20px;
    flex-wrap: wrap;
  }

  .box {
    width: 48%;
  }

  .icon-box {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  #breadcrumb {
    padding: 40px;
  }

  #breadcrumb-heading h3 {
    font-size: 30px;
  }

  #breadcrumbArea a {
    font-size: 22px;
  }

  #breadcrumbArea span {
    font-size: 22px;
  }

  #page-title h1 {
    font-size: 50px;
  }
  #page1 {
    height: auto;
  }

  .workbox {
    height: auto;
  }
  .box-title h1 {
    font-size: 25px;
  }
  .box-title p {
    font-size: 16px;
  }
  #page2 {
    height: auto;
  }
  #page2-left-content h1 {
    font-size: 25px;
  }
  #page2-left-content p {
    font-size: 16px;
  }
  #page2-right {
    width: 40%;
  }
  #page2-right-content h1 {
    font-size: 25px;
  }
  #page2-right-content p {
    font-size: 16px;
  }
  #page3 {
    height: auto;
  }
  .page3-box {
    height: 500px;
  }
  .page3-box-even {
    height: 500px;
  }
  .page3-box-image img {
    height: 100%;
  }
  .page3-box-title h1 {
    font-size: 25px;
  }
  .page3-box-title p {
    font-size: 16px;
  }
  #page4 {
    height: auto;
  }
  #page4-left-content h1 {
    font-size: 25px;
  }
  #page4-left-content p {
    font-size: 16px;
  }
  #page4-right {
    width: 40%;
  }
  #page4-right-content h1 {
    font-size: 25px;
  }
  #page4-right-content p {
    font-size: 16px;
  }
  #footer-top h1 {
    font-size: 2rem;
  }

  #footer-bottom {
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
  }
  .box {
    width: 80%;
    padding: 0 60px;
    margin: auto;
  }
  #footer #icons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  #breadcrumb {
    padding: 20px;
  }

  #breadcrumb-heading h3 {
    font-size: 25px;
  }

  #breadcrumbArea a {
    font-size: 18px;
  }

  #breadcrumbArea span {
    font-size: 18px;
  }

  #page-title h1 {
    font-size: 40px;
  }
  #page1 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .workbox {
    height: auto;
    width: 100%;
    padding: 0 70px 0 40px;
  }
  .box-emptyspace {
    height: 0px;
  }
  .box-even {
    height: auto;
    width: 100%;
    padding: 0 40px 0 70px;
    display: flex;
    flex-direction: column;
  }
  #page2 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #page2-left {
    width: 100%;
    height: auto;
  }
  #page2-left-image img {
    height: 100%;
  }
  #page2-left-content h1 {
    font-size: 25px;
  }
  #page2-left-content p {
    font-size: 16px;
  }
  #page2-right {
    width: 100%;
    height: auto;
    padding: 0 40px;
  }
  #page2-right-image img {
    height: 100%;
  }
  #page2-right-content h1 {
    font-size: 25px;
  }
  #page2-right-content p {
    font-size: 16px;
  }

  #page3 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .page3-box {
    height: auto;
    width: 100%;
    padding: 0 70px 0 40px;
  }
  .page3-box-emptyspace {
    height: 0px;
  }
  .page3-box-even {
    height: auto;
    width: 100%;
    padding: 0 40px 0 70px;
    display: flex;
    flex-direction: column-reverse;
  }
  #page4 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #page4-left {
    width: 100%;
    height: auto;
  }
  #page4-left-image img {
    height: 100%;
  }
  #page4-left-content h1 {
    font-size: 25px;
  }
  #page4-left-content p {
    font-size: 16px;
  }
  #page4-right {
    width: 100%;
    height: auto;
    padding: 0 40px;
  }
  #page4-right-image img {
    height: 100%;
  }
  #page4-right-content h1 {
    font-size: 25px;
  }
  #page4-right-content p {
    font-size: 16px;
  }
  #footer-top {
    margin: 50px 20px;
    padding: 20px;
  }
  #footer-top h1 {
    font-size: 1.5rem;
  }
  #footer-top button {
    height: 40px;
    width: 130px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
  }
  #footer-bottom {
    padding: 20px 20px;
  }
  #footer-bottom .box {
    width: 80%;
    padding: 0 15px;
  }
  #footer-bottom .box {
    margin: auto;
  }
  #footer-bottom .box h1 {
    font-size: 2rem;
  }
  #footer-bottom .box p {
    font-size: 1.5rem;
  }
  #footer-bottom .box a {
    font-size: 1.5rem;
  }
  #footer-bottom .box i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  #breadcrumb {
    margin: auto;
  }

  #breadcrumb-heading h3 {
    font-size: 20px;
  }

  #breadcrumbArea a {
    font-size: 16px;
  }

  #breadcrumbArea span {
    font-size: 16px;
  }

  #page-title h1 {
    font-size: 35px;
  }
  #page1 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #page1 a {
    font-size: 12px;
  }
  #page2 a {
    font-size: 12px;
  }
  #page3 a {
    font-size: 12px;
  }
  #page4 a {
    font-size: 12px;
  }
  .workbox {
    height: auto;
    width: 100%;
    padding: 0 50px 0 30px;
  }
  .box-emptyspace {
    height: 0px;
  }
  .box-even {
    height: auto;
    width: 100%;
    padding: 0 30px 0 50px;
    display: flex;
    flex-direction: column;
  }
  #page2 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #page2-left {
    width: 90vw;
    height: auto;
  }
  #page2-left-image img {
    height: 100%;
  }
  #page2-left-content h1 {
    font-size: 20px;
    width: 100%;
  }
  #page2-left-content p {
    font-size: 14px;
  }
  #page2-right {
    width: 90vw;
    height: auto;
    /* padding: 0 30px; */
  }
  #page2-right-image img {
    height: 100%;
  }
  #page2-right-content h1 {
    font-size: 20px;
  }
  #page2-right-content p {
    font-size: 14px;
  }
  #page3 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .page3-box {
    height: auto;
    width: 100%;
    padding: 0 50px 0 30px;
  }
  .page3-box-emptyspace {
    height: 0px;
  }
  .page3-box-even {
    height: auto;
    width: 100%;
    padding: 0 30px 0 50px;
    display: flex;
    flex-direction: column-reverse;
  }

  #page4 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #page4-left {
    width: 90vw;
    height: auto;
  }
  #page4-left-image img {
    height: 100%;
  }
  #page4-left-content h1 {
    font-size: 20px;
  }
  #page4-left-content p {
    font-size: 14px;
  }
  #page4-right {
    width: 90vw;
    height: auto;
    padding: 0 30px;
  }
  #page4-right-image img {
    height: 100%;
  }
  #page4-right-content h1 {
    font-size: 20px;
  }
  #page4-right-content p {
    font-size: 14px;
  }
  #footer-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #footer-top h1 {
    font-size: 1.5rem;
  }
  #footer-top button {
    height: 30px;
    width: 90px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 8px;
  }

  .address {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .address h1 {
    font-size: 1.2rem;
  }
  .address p {
    font-size: 0.8rem;
  }
  .address p:nth-child(2) {
    display: none;
  }
  .useful {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }
  .useful a {
    line-height: 20px;
  }
  .useful a:nth-child(10) {
    margin-bottom: 10px;
  }
  .services {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }
  .services a {
    line-height: 23px;
  }
  .services a:nth-child(8) {
    margin-bottom: 10px;
  }

  .newsletter {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .newsletter p:nth-child(2) {
    display: none;
  }
  #newsletter-email {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #newsletter-email input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 2px 10px;
  }
  #newsletter-email button {
    width: 50%;
    margin: auto;
    height: 30px;
    padding: 5px;
    border-radius: 8px;
  }
  #icons {
    margin-bottom: 10px;
  }

  #footer-end p {
    font-size: 1rem;
  }
}
